<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Index Page</title>
</head>
<body>
<h1>Director list</h1>
<div th:each="director: ${directors}">
    <h2 th:text="${director.name}"></h2>
    <a th:href="@{/updateDirector/{id}(id=${director.id})}">Update Director</a>
    <a th:href="@{/deleteDirector/{id}(id=${director.id})}">Delete Director</a>
    <h6 th:inline="text">specializing in [[${director.genre}]]</h6>
    <ul>
        <th:block th:each="movie: ${director.movies}">
            <li th:inline="text"><b>[[${movie.title}]]</b> released in [[${movie.year}]]</li>
            <img th:src="${movie.photo}" width="200" height="200">
            <li><a th:href="@{/updateMovie/{id}(id=${movie.id})}">Update Movie</a></li>
            <li><a th:href="@{/deleteMovie/{id}(id=${movie.id})}">Delete Movie</a></li>
        </th:block>
    </ul>
</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout">
</form>
<a th:href="@{/addDirector}">Add Director</a>
<a th:href="@{/addMovie}">Add Movie</a>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
